# Introduction To Python
## Section 1 - Data Types

Bonjour!  
Le projet suivant a pour but de reprendre les cours dispensés .  
Suivez progressivement les différentes cellules
Exécutez chaque cellule puis enregistrez sous format pdf et envoyez le fomat pdf et notebook sur mon mail

-1 Affichez :"Welcome to Introduction to Python"

In [74]:
print("Welcome to Introduction to Python")

Welcome to Introduction to Python

-2 Créez deux variables a et b
-Assignez à a la phrase "This is the first half of a sentence, " et à b la phrase "and this is its second half"
-Affichez a
-Affichez a+b

In [75]:
a = 'This is the first half of a sentence'
b =  'and this is its second half'
print(a)
print(b)
print(a+b)

This is the first half of a sentence
and this is its second half
This is the first half of a sentenceand this is its second half

-3 Créer la variable  tagline et lui assigner la phrase "Hitachi,Inspire the Next"
Affichez "tagline="+ tagline

In [76]:
tagline = "Hitachi,Inspire the Next"
print("tagline="+tagline )

tagline=Hitachi,Inspire the Next

-4
Créer les variables numériques a et b 
Affichez l'addition de a et b
faites la soustraction
faites la division
faites la mulplication
Affichez l'addition, la multiplication, la division, la soustraction
Affihez que la partie entière de la division

In [77]:
a,b = 6,24
c=a+b
d= b-a
e=a//b
f= a*b
print(c)
print(d)
print(e)
print(f)

30
18
0
144

-5
Assignez à la variable x le carré de a
Assignez à la vaiable y le cube de b
Additionnez a et b

In [78]:
a=5
b=6
x= a*a 
y=b*b*b
print(a+b)

11

-6
Créez la variable my_str qui correspond à "I have {} apples and {} pears"
Créez les variables numériques apples et pears et leur donner une valeur
Afficher my_str.format(apples,pears)

In [79]:
my_str = "I have {} apples and {} pears"

apples = 4
pears = 5

print(my_str.format(apples,pears))

I have 4 apples and 5 pears

-7 
Créer le list example_list de votre choix
Affichez la première valeur de la list

In [80]:
example_list = [0,3,5,7]
example_list[0]

0

-8a
Créer la list my_list de 8 éléments
Affichez le dernier élément de la liste de 2 manières

In [81]:
my_list=[0,1,2,3,4,5,6,7]
my_list[-1]

7

In [82]:
my_list=[0,1,2,3,4,5,6,7]
my_list[7]

7

-8b
-Créez le dictionnaire hitachi contenant les éléments suivants
"Name": "Hitachi Ltd",
    "Employees": 333150,
    "Revenue_EUR": 75092000000,
    "HQ": "Tokyo, Japan",
    "Founding_Year": 1910,
    "Founding_Spirit": ["Wa", "Makoto", "Kaitakusha-Sieshin"]
-Affichez le dictionnaire
-Affichez la valeur de l'item 'Revenue_EUR'

In [83]:
hitachi= dict= {}
dict["Name"]="Hitachi Ltd"
dict["Employees"]= "333150"
dict["Revenue_EUR"]="75092000000"
dict["HQ"]="Tokyo,Japan"
dict["Founding_Year"]= "1910"
dict["Founding_Spirit"]="[Wa,Makoto,Kaitakusha-Sieshin]"
print(dict)
hitachi ['Revenue_EUR']

{'Name': 'Hitachi Ltd', 'Employees': '333150', 'Revenue_EUR': '75092000000', 'HQ': 'Tokyo,Japan', 'Founding_Year': '1910', 'Founding_Spirit': '[Wa,Makoto,Kaitakusha-Sieshin]'}

'75092000000'

 affichez l'année de fondation d'hitachi

In [84]:
hitachi ['Founding_Year']

'1910'

## Section 2 - Fonctions

-9
Créer une fonction qui fait l'addition de 2 variables
Utilisez cette fonction pour 2 nombres que vous choisirez

In [85]:
def add_numbers(a,b):
    z=a+b
    return z,a,b
a=3
b=5
z=a+b
print(z)

8

-10
Créez la fonction Happy_birthday avec comme variable name
Affichez "Happy Birthday to you"
Affichez "Happy Birthday to you"
Affichez "Happy Birthday dear " + name
Affichez "Happy Birthday to you"
Utiliez la fonction avec votre nom et afficher

In [86]:
def Happy_birthday (name):
    z="Happy Birthday" 
    return z
print("Happy Birthday"+ "to you")
print("Happy Birthday to you")
print("Happy Birthday dear","name")
print("Happy Birthday" ,"dear",'Rizik')

Happy Birthdayto you
Happy Birthday to you
Happy Birthday dear name
Happy Birthday dear Rizik

-11
Créez la fonction pro_numbers avec deux variables d'entrée
Calculez la multiplication des 2 variables plus 5
Utilisez l fonction pour 2 nombres de vo

In [87]:
def pro_numbers(a,b):
    y = a*b+5

a=50
b=25
y=a*b+5
print(y)

1255

#### Logical Operators

 -12
Tester l'égalité
tester la différence
tester la superiorité
tester l'infériorité
pour deux variables de votre choix

In [88]:
print(8-10)
print(10>8)
print(8<10)
print(8>=10)

-2
True
True
False

-13
Choissez un numéro

In [89]:
num = 5

tester la fonction

In [90]:
if num < 0:
    print("{} is negative".format(num))
elif num > 0:
    print("{} is positive".format(num))
else:
    print("{} is zero".format(num))

if num != 5:
    print("{} is not five".format(num))
else:
    print("{} is five".format(num))

5 is positive
5 is five

-14
Choisir entre "European" et "African et tester la fonction

In [91]:
def swallow_velocity(x):
    a=African
    return a,african
    if type == "European":
        print("12 m/s")
    elif type == "African":
        print("10 m/s")
    else:
        print("I don't know that type of swallow")

-15
Créer une fonction qui calcule la racine carrée

In [92]:
def print_square_root(x):
    x=a**0,5
    return x,a

Utilisez cette fonction pour ce nombe 41370624

In [93]:
A=41370624 ** 0,5
print (A)

(1, 5)

-16
Choisisez un numbre et tester

In [94]:
num = 4

if (num % 2 == 0) and (num % 3 == 0):
    print("{} is divisible by six".format(num))
else:
    print("{} is not divisible by six".format(num))

if isinstance(num, int) and (num > 0) and (num < 10):
    print("{} is a positive single digit".format(num))

4 is not divisible by six
4 is a positive single digit

-17
Choisissez un niveau et testez

In [95]:
level = "C1"

if level == "C1" or level == "C2":
    position = "Consultant"
elif level == "SC1" or level == "SC2":
    position = "Senior Consultant"
elif level == "M1" or level == "M2" or level == "M3":
    position = "Manager"
elif level == "SM1" or level == "SM2":
    position = "Senior Manager"
elif level == "DCS":
    position = "Director"
elif level == "VP":
    position = "Vice President"
else:
    position = "Other"

print(position)

Consultant

-18
Choisissez des valeurs pour string_1 et string_2 et tester

In [96]:
# String
string_1 = " Hello World! "
string_2 = "Goodbye World!"

if string_1 in string_2:
    print("String 1 is a substring of String 2")
else:
    print("String 1 is not a substring of String 2")

String 1 is not a substring of String 2

## Section 3 - Loops

-19
testez la fonction en remplaçant x et y

In [97]:
# You can loop through the list and run conditionals on each number
for missing_limbs in range(1, 4):
    if missing_limbs == 0:
        print("None Shall Pass")
    elif missing_limbs == 1:
        print("Tis but a scratch")
    elif missing_limbs == 2:
        print("It's just a flesh wound")
    elif missing_limbs == 3:
        print("I'm Invincible")
    elif missing_limbs == 4:
        print("All right, we'll call it a draw.")

Tis but a scratch
It's just a flesh wound
I'm Invincible

In [98]:
for missing_limbs in range(2, 3):
    if missing_limbs /1:
        print("None Shall Pass")
    elif missing_limbs / 2:
        print("Tis but a scratch")
    elif missing_limbs / 2:
        print("It's just a flesh wound")
    elif missing_limbs / 3:
        print("I'm Invincible")
    elif missing_limbs / 4:
        print("All right, we'll call it a draw.")

None Shall Pass

-20
Créer la liste food_list et tester

In [99]:
food_list =[0,"food","spam","Yum,spam!"]
for food in food_list:
    if food == "Spam":
        print("Yum, spam!")
        break
    else:
    print()"I don't want " + food + ", I want spam")

IndentationError: expected an indented block (<ipython-input-99-4b0a76b6f491>, line 7)

-21
Créer 
stock_prices = {'IBM': 146.48, 'MSFT': 44.11, 'CSCO': 25.54, 'AAPL': 108.48, 'HTHIY': 493.57}
et tester la fonction

In [100]:
stock_prices= {'IBM': 146.48, 'MSFT': 44.11, 'CSCO': 25.54, 'AAPL': 108.48, 'HTHIY': 493.57}

-22
Créer 
stock_prices = {'cake': 146.48, 'cookies': 44.11, 'choo': 25.54, 'bi': 108.48, 'at': 493.57}
et tester la fonction

In [101]:
stock_prices = {'cake': 146.48, 'cookies': 44.11, 'choo': 25.54, 'bi': 108.48, 'at': 493.57}
for stock in stock_prices:
    print("The price of {} is ${}".format(stock, stock_prices[stock]))

The price of cake is $146.48
The price of cookies is $44.11
The price of choo is $25.54
The price of bi is $108.48
The price of at is $493.57

-23
Donnez des valeurs à a et b et tester

In [103]:
a = 10
b = 6
while b < a:
    print("{} is less than {}".format(b, a))
    b += 1
print("{} is not less than {}".format(b, a))

6 is less than 10
7 is less than 10
8 is less than 10
9 is less than 10
10 is not less than 10

In [104]:
a ==6
b == 10
while b > a:
    print("{} is less than {}".format(b, a))
    b += 1
print("{} is not less than {}".format(b, a))

10 is not less than 10

#### List comprehensions
Créer une listes my_list
Tester les fonctions suivantes

In [102]:
my_list = [0,1,2,3,4,5]

In [106]:
odd_numbers_from_my_list = [0,1,3,5]
for i in my_list:
    if i % 2 == 1:
        odd_numbers_from_my_list.append(i)
        
odd_numbers_from_my_list

[0, 1, 3, 5, 1, 3, 5, 7]

In [107]:
odd_numbers_from_my_list = [i for i in my_list if i % 2 == 1]

odd_numbers_from_my_list

[1, 3, 5, 7]

In [108]:
cubed_even_numbers = [1,64,343]

for i in my_list:
    if i % 2 == 0:
        cubed_even_numbers.append(i ** 3)

cubed_even_numbers

[1, 64, 343, 0, 8, 64, 216]

In [132]:
my_list = [1, 64, 343, 0, 8, 64, 216]
for i in my_list: 64
        if i % 2 == 0:
    cubed_even_numbers.append(i ** 3)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [114]:
cubed_even_num =[1]
for i in my_list:
    if i % 2 == 1:
         cubed_even_num.append(i ** 3)
    
    cubed_even_num